body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 275px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
}

textarea {
    height: 100px;
    width: 400px;
}

select {
    width: 100px;
    
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {

    background-color: #45a049;

}